@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2'),
		url('../fonts/Roboto-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Roboto";
	color: #212121;
	font-weight: 400;
	font-size: 14px;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* HEADER */
.header {
	padding: 24px 0;
	font-weight: 500;
	border-bottom: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	margin-right: 93px;
}

.header-menu {
	z-index: 10;
	display: flex;
	gap: 50px;
}


.header-second-menu {
	left: 0%;
	background-color: #F5F4FA;
	z-index: 10;
	top: 100%;
	position: absolute;
	padding: 20px 0 0;
	display: none;
}

.header-menu-item-second {
	padding: 15px
}

.header-menu-item-second:hover {
	background-color: #757575;
}


.header-menu>li:hover .header-second-menu {
	display: block;
}

.header-menu-three {
	top: 0%;
	right: 100%;
	z-index: 10;
	position: absolute;
	display: none;
}


.header-menu-item-three {
	padding: 15px;
}

.header-menu-item-three:hover {
	color: #EEEEEE;
	background-color: #757575;
}

.header-second-menu>li:hover .header-menu-three {
	z-index: 10;
	display: block;
}

.header-menu-item a {
	color: inherit;
	text-decoration: none;
}

.header-menu-item a.active {
	color: #2196F3;
}

.header-menu-item:hover a {
	color: #2196F3;
}

.header-menu-right {
	display: flex;
	gap: 50px;
	margin-left: auto;
}


.header-menu-right-item a {
	color: #757575;
	text-decoration: none;
}

.header-menu-right-item:hover a {
	color: #2196F3;
}





/* HERO */

.hero {
	height: 600px;
	max-width: 1600px;
	margin: 0 auto;
	background: url(/img/img-bagr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
}


.hero-beg::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.hero-title {
	position: relative;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: 900;
	max-width: 700px;
	margin: 0 auto;
	color: #fff;
	margin-bottom: 30px;
	letter-spacing: 5px;
}

.hero-butoon {
	position: relative;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	padding: 16px 46px 15px;
	letter-spacing: 4px;
	display: inline-block;
	transition: 0.2s;
	overflow: hidden;
}


.hero-butoon-line {
	position: absolute;
	display: block;

}

.hero-butoon-line-top {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #2196F3);
}

.hero-butoon:hover .hero-butoon-line-top {
	left: 100%;
	transition: 1s;
	transition-delay: 0.5s
}

.hero-butoon-line-right {
	bottom: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(90deg, transparent, #2196F3);
}

.hero-butoon:hover .hero-butoon-line-right {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.hero-butoon-line-bottom {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(0deg, transparent, #2196F3);
}

.hero-butoon:hover .hero-butoon-line-bottom {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.hero-butoon-line-left {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg, transparent, #2196F3);
}

.hero-butoon:hover .hero-butoon-line-left {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.hero-butoon:hover {
	background: #2196F3;
	box-shadow: 0 0 10px #2196F3, 0 0 40px #2196F3, 0 0 80px #2196F3;
	transition: 1s;
	transition-delay: 1s;
}


/* ABOUT */
.about {
	padding: 94px 0 0;
}

.about-cards {
	display: flex;
	gap: 30px;
}


.about-icons {}

.about-card {
	flex: 1 1 25%;
	position: relative;
	padding-top: 140px;
}

.about-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #ccc url(../img/antenna1.svg) no-repeat 50% / 70px 70px;
	border-radius: 4px;
}

.about-card:nth-child(2)::before {
	background-image: url(../img/astronaut1.svg);
}

.about-card:nth-child(3)::before {
	background-image: url(../img/clock1.svg);
}

.about-card:nth-child(4)::before {
	background-image: url(../img/diagram1.svg);
}

.about-title {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-weight: 700;
}



.about-desc {
	color: #757575;
	text-align: justify;
}

/* DO */

.do {
	padding: 94px 0;
}

.do-title {
	font-weight: 700;
	font-size: 36px;
	margin: 0 0 50px;
	text-align: center;
}

.do-cards {
	display: flex;
	gap: 30px;
}

.do-card {
	flex: 1 1 28%;
	/* width: 33.3333%*/
	/* flex-grow: 1; */
	/* flex-shrink: 1; */
	/* flex-basis: 300px; */
	height: 294px;
	position: relative;
}

.do-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.do-card-title {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	height: 70px;
	overflow: hidden;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(47, 48, 58, .8);
}

/* TEAM */

.team {
	padding: 94px 0;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	margin: 0 0 50px;
	text-align: center;
}

.team-cards {
	display: flex;
	gap: 30px;
}

.team-card {
	box-shadow: #757575 0 2px 2px;
	border-radius: 3px;
}

.team-card img {
	height: 260px;
	width: 100%;
	object-fit: cover;
}

.name-person {
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	padding: 30px 0 0;
}

.about-person {
	color: #757575;
	font-size: 16px;
	text-align: center;
	padding: 10px 0;
}

.list {
	display: flex;
	gap: 10px;
	margin: 16px 0 30px;
	justify-content: center;
	align-items: center;

}

.list a {
	line-height: 10px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all .5s linear;
}

.list li {}

.list svg {
	width: 20px;
	height: 20px;
	fill: #AFB1B8;
	transition: all 0.3s ease;
	z-index: 1;
}


.list-item {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #00000080;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
}


.list-item::after {
	content: "";
	position: absolute;
	transform: translate(0, 70px);
	border-radius: 50%;
	transition: all 0.3s ease;
}

.list-item svg {
	transition: all 0.3s ease;
	z-index: 1;
}

.list-item.insta::after {
	background-color: #833AB4;
}

.list-item .facebook::after {
	background-color: #2196F3;
}

.list-item .twit::after {
	background-color: #2196F3;
}

.list-item .link::after {
	background-color: greenyellow;
}

.list-item:hover {
	transform: translateY(-4px);
	box-shadow: 0px 0px 15px #00000080;
	background-color: #2196F3;
}

.list-item:hover svg {
	fill: #fff;
}

.list-item:hover::after {
	transform: translate(0);

}

/* COSTUMERS */

.customers {}

.customers-title {
	font-weight: 700;
	font-size: 36px;
	margin: 0 0 50px;
	text-align: center;
}

.customers-icon {
	display: flex;
	height: 60px;
	width: 106px;
	fill: #ccc;
	transition: fill .5s linear;
}


.customers-icon:hover {
	fill: #2196F3;
}

.customers-card {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	border: #AFB1B8 solid 1px;
	border-radius: 4px;
	transition: fill .5s linear;
	height: 92px;
}

.customers-card:hover {
	border: #2196F3 solid 1px;
}

.customers-card:hover .customers-icon {
	fill: #2196F3;
}

.customers-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 92px 0;
}




/* FILTER MENU */



.filter-menu {
	padding: 94px 0;
	display: flex;
	justify-content: center;
	gap: 8px;
	flex-wrap: wrap;
}


.filter-menu-item {
	background-color: #F5F4FA;
	color: #212121;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	padding: 13px 38px 13px;
	border-radius: 4px;
	letter-spacing: 0.96px;
	display: inline-block;
	height: 38px;
}


.filter-menu-item:hover {
	color: #FFF;
	background-color: #2196F3;
	box-shadow: #757575 0 2px 2px;
}


/* PRODUCT CARDS  */


.product {
	padding: 0 0 94px;
}

.product-cards {
	z-index: 10;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

}

.product-card {
	z-index: 10;
	border: 2px solid #EEEEEE;
	flex: 1 1 30%;
	position: relative;
}

.product-card img {
	z-index: 10;
	height: 294px;
	width: 100%;
	object-fit: cover;
}

.product-img {
	position: relative;
}


.product-card-title {
	z-index: 10;
	color: #212121;
	padding: 24px 0 0 24px;
	font-weight: 700;
	font-size: 18px;
}

.product-card-about {
	z-index: -10;
	font-size: 16px;
	color: #757575;
	padding: 24px;
}


.product-card:hover .product-hover {
	display: flex;
}

.product-card-shadow:hover {
	box-shadow: #757575 0 2px 2px;
}

.product-hover {
	position: absolute;
	inset: 0;
	background: rgb(33, 150, 243, 0.9);
	color: #FFF;
	z-index: 10;
	padding: 10px;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 28px;
	cursor: pointer;
	display: none;
}

/* FOOTER */

.footer {
	padding: 60px 0;
	background: #2F303A;
	color: #fff;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;
}

.footer-menu {
	display: flex;
	flex-flow: column;
	gap: 9px;
}

.footer-menu-desc {
	color: #fff;
}

.footer-menu-item {
	color: #757575;
	text-decoration: none;
	align-self: flex-start;
}

.footer-menu-item:hover {
	color: #1385e2;
}


.list-footer {
	display: flex;
	gap: 10px;
}

.list-footer a {
	line-height: 10px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212121;
	border-radius: 50%;
	transition: all .5s linear;
}

.list-footer svg {
	width: 20px;
	height: 20px;
	fill: #AFB1B8;
	transition: fill .5s linear;
}

.list-footer a:hover {
	background: #2196F3;
}

.list-footer a:hover svg {
	fill: #fff;
}

.footer-icons {}

.footer-title {
	font-weight: 700;
	margin: 0 0 20px;
}

.footer-container {
	display: flex;
	gap: 50px;
}

/* 1200px */

@media (max-width: 1200px) {

	/* !HEADER */
	.header-logo {
		margin-right: 40px;
	}

	.header-menu,
	.header-menu-right {
		gap: 20px;
	}

	.team-cards {
		flex: 1 1 45%;
	}
}


@media (max-width: 1000px) {
	.product-card {
		flex: 1 1 45%;
	}
}

@media (max-width: 992px) {

	/* ABOUT */
	.about {
		padding: 60px 0 60px;
	}

	.about-cards {
		flex-wrap: wrap;
	}

	.about-card {
		flex: 1 1 45%;
	}

	.do {
		display: none;
	}

	.team-cards {
		flex-wrap: wrap;
	}

	.customers {
		display: none;
	}
}

@media (max-width: 768px) {

	/* !HEADER */
	.header {
		padding: 19px 0 20px;
	}

	.header-logo img {
		width: 134px;
		height: 28px;
	}

	.header-menu,
	.header-menu-right {
		display: none;
	}

	.list-footer {
		display: none;
	}

	.footer-icons h3 {
		display: none;
	}

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.header-burger {
		display: block;
		position: relative;
		width: 24px;
		height: 16px;
		cursor: pointer;
	}

	.header-burger::before,
	.header-burger::after,
	span {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background: #000;
	}

	.header-burger span {
		top: 50%;
		transform: translateY(-50%);
	}

	.header-burger::after {
		top: auto;
		bottom: 0;
	}

	.filter-menu {
		display: inline-block;
		text-align: left;
		margin: 0 0 0 15px;
	}

	.filter-menu a {
		margin: 15px 0 0 0;
	}
}

@media (max-width: 600px) {
	.hero {
		height: 400px;
	}

	.hero-title {
		font-size: 26px;
	}

	.about-card {
		flex: 1 1 100%;
	}

	.team-card {
		flex: 1 1 100%;
	}

	.team-card img {
		height: 460px;
	}

	.product-card {
		flex: 1 100%;
	}

}